form {
  padding: 2rem;
}

.req{
  color: red;
}

/* .MuiFormControl-vertical {
  margin-bottom: 1rem;
} */

/* .MuiButton-colorPrimary {
  color: #fff;
  background-color: #01a0bb;
} */

.pit-results-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-container, .filtered-item-container {
  border: 2px solid #01a0bb;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0.5rem;
  height: fit-content;
}

.pit-results-number {
  text-align: center;
  margin-top: 0;
}

.match-section-header{
  margin: 0.5rem 0;
}

.detail {
  margin: 0.25rem 0;
}

.match-detail {
  margin-left: 1rem;
}

.red-alliance {
  color: #ed1c24;
}

.blue-alliance {
  color: #0066b3;
}

.red-backdrop {
  background-color: #ff000836;
}

.blue-backdrop {
  background-color: rgba(68, 95, 116, 0.3);
}

.red-backdrop-inset {
  background-color: #ff00083e;
}

.blue-backdrop-inset {
  background-color: rgba(62, 100, 130, 0.35);
}

.result-flex {
  display: flex;
}

.filter-container {
  padding: 1rem;
  border: 1px solid var(--joy-palette-neutral-300, #CDD7E1);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.filter-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.extended-radio-option {
  display: flex;
  align-items: center;
}

.blue {
  color: #01a0bb;
}

.both {
  color: darkred
}

/* cannot add module style to created element so */
.preview-img {
  /* width: fit-content !important; */
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.dev-mode-container {
  position: fixed;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0; /* sticky threshold */
  z-index: 2;
}

.dev-mode-box {
  margin: 0 auto;
  background-color: rgba(139, 0, 0, 0.6);
  color: white;
  border-radius: 15px;
  padding: 0.5rem;
  width: fit-content;
}