.radioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.customRadio {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    text-align: center;
    background-color: lightgray;
    color: #0192ab;
    padding: 1rem;
    border: 4px solid transparent;
    border-radius: 5px;
    box-shadow:2px 2px lightgrey;    
    cursor: pointer;
    margin: 10px;
    font-size: 14pt;
    font-weight: bold;
}

.dtSelected {
    border-color: #0192ab;
    background-color: #edfcff;
    box-shadow: none;
  }

.customRadioImage {
    border-radius: 15px;
    max-width: 400px;
    max-height: 200px;
    object-fit: contain;
}

/* cannot add module style to created element so */
/* wrapper for image */
.imgPreview {
    width: fit-content !important;
    /* scale: 0.6; */
    max-height: 220px;
    max-width: 300px;
}

/* ipad sizing, intended device to use */
@media (max-width:810px) {
    .radioContainer {
        row-gap: 20px;
    }

    .customRadio {
        max-height: fit-content;
        max-width: 220px;
        font-size: 13pt;
    }

    .customRadioImage {
        max-width: 100%;
        /* max-height: unset; */
    }
}